body {
    width: 210px;
    background-color: #f7f4f4;
  }
#countMinutes {
  width:50px;
}
#alarmsList div {
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin-left: 5px;
}
#alarmsList div:hover {
  text-decoration: line-through;
}
#settingsCaption {
  text-align: center;
  cursor: pointer;
  color: grey;
}
#countPeriod, #timesPeriod {
  width: 30px;
}